includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../controllers
		- ../../src
		- ../../vatnumber.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Property TabCore::\$name \(string\) does not accept array\<string\>.#'

	level: 5
